@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
    --body-back:#3b4664;
    --equal-back:#f96c5b;
    --reset-back:#a3b2e3;
    --bottom-back:#252d44;
    --answer-back:#181f32;
    --font-color:#434a5c;
    --normal-font:#eae3db;
    --super-font :#eaeff5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--body-back);
    margin: 2% auto;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

main {
    min-height: 500px;
    width: 400px;
}
nav {
   width: 500px;
   color: #ffffff;
}
nav .theme {
    display: flex;
    float: right;
    margin-top: -1rem;
}
nav .tag{
    float: right;
    margin-right: 3.4rem;
}
nav ul {
    display: flex;
    gap: 0.78rem;
    margin-top: -0.8rem;
    margin-right: 2.6rem;
}
nav ul li{
    list-style-type: none;

}

.theme input {
    display: none;
}
 .theme label {
    display: block;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    background-color: var(--bottom-back);
    position: relative;
    right: 38%;
    cursor: pointer;

}
 label:before {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: rotateY(-50%);
    content: "";
    display: block;
    width: 25%;
    height: 70%;
    border-radius: 50%;
    background-color: var(--equal-back);
    transition: left 300ms linear;
}
 input:checked + label:before {
    
    left: 70%;
}
section .top {
    background-color: var(--answer-back);
    margin: 15px 0;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: inline-block;
}
.top .answer {
    background-color: var(--answer-back);
    height: 100%;
    width: 100%;
    text-align: right;
    border: none;
    border-radius: 10px;
    font-size: 44px;
    color: #ffffff;
    letter-spacing: 3px;
}
section .bottom {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--bottom-back);
}
.bottom .buttons {
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(5, 58px);
}
.buttons .button {
    height: 50px;
    width: 68px;
    font-size: 32px;
    border-radius: 5px;
    place-self: center;
    text-align: center;
    line-height: 155%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: var(--normal-font);
    font-weight: 700;
    color:var(--font-color);
    cursor: pointer;
    
}
.button:focus{
    background-color: #FFFFFF;
}
.del:focus {
    background-color: var(--reset-back);
    color: var(--super-font);

}
.buttons .reset {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 150px;  
    color: var(--font-color);
    font-weight: 700;
}
.reset:focus {
    background-color: var(--reset-back);
    color: var(--super-font);
    
}
.buttons .equal {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 150px;  
    margin-left: 87px;
    color: var(--font-color);
    font-weight: 700;
}
.equal:focus {
    background-color: var(--equal-back);
    color: var(--super-font);
}